In [45]:
import pandas as pd
from scipy import stats
import numpy as np

In [2]:
df_books = pd.read_csv('price.csv')
df_translated = pd.read_csv('translator.csv')

In [3]:
#books that are translated
merged_df = pd.merge(df_books, df_translated, on ='BookID')

,Unnamed: 0_x,BookID,Price,DiscountPercentage,Exists,EarliestDeliveryDate,Unnamed: 0_y,PersonID
0,4,8553,9000,-1,False,---,0,5421
1,6,22362,19800,-1,False,---,1,3353
2,11,3947,15000,-1,False,---,2,2613
3,12,16886,22000,-1,False,---,3,4888
4,19,32296,220000,25,True,9 مهر,4,3110
...,...,...,...,...,...,...,...,...
61306,113808,6962,150000,15,True,10 مهر,61306,4741
61307,113809,16096,150000,15,True,9 مهر,61307,2564
61308,113810,6964,200000,20,True,10 مهر,61308,4782
61309,113811,6968,345000,20,True,9 مهر,61309,4931
61310,113812,16095,350000,-1,False,---,61310,4928

In [4]:
#books that are not translated
filtered_df = df_books[~df_books['BookID'].isin(df_translated['BookID'])]

In [32]:
#ttest for hypothesis 1 :
translated_books = merged_df['Price']
non_translated_books = filtered_df['Price']
t1 = stats.ttest_ind(translated_books, non_translated_books)

TtestResult(statistic=9.567199766156156, pvalue=1.1192102095219392e-21, df=113979.0)

In [6]:
df = pd.read_csv('books.csv')

In [43]:
df['CoverType'] = df['CoverType'].apply(str)
df['Title'] = df['Title'].apply(str)
df_hard = df[df['CoverType'].str.contains('جلد سخت')]
df_soft = df[df['CoverType'].str.contains('شومیز')]
df_h = df_hard.rename(columns = {'ID' : 'BookID', 'Title' : 'hard'})
df_s = df_soft.rename(columns = {'ID' : 'BookID', 'Title' : 'soft'})

In [48]:
merged_h = pd.merge(df_books, df_h, on ='BookID')
merged_s = pd.merge(df_books, df_s, on ='BookID')
merged_hard = merged_h[merged_h['Title'].isin(merged_s['Title'])]
merged_soft = merged_s[merged_s['Title'].isin(merged_h['Title'])]

In [55]:
#ttest for hypothesis 2 :
hard_price = merged_hard['Price']
soft_price = merged_soft['Price']
t2 = stats.ttest_ind(hard_price, soft_price)

TtestResult(statistic=10.143706733044677, pvalue=1.9995115908014383e-23, df=1489.0)